/* @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */
.parent{
    background-color: rgb(33, 161, 204);
    
}
.padding-10-px {
    padding: 10px;
}
.child-one{
    background-color: lightgreen;
}
.child-two{
    background-color: lightsalmon;
}
.child-three{
    background-color: lightpink;
}

.relative-pos {
    position: relative;
    /* top: 20px;
    left: 30px;
    bottom: 5px;
    right: 10px; */
}

.absolute-pos{
    position: absolute;
    top: 0px;
    left: 0px;
    /*left: 30px;
    bottom: 5px;
    right: 10px; */
}

.fixed-pos{
    position: fixed;
}

.stick-pos {
    position: sticky;
    top: 0px;
}

.img-width-height {
    width: 100%;
    /* height: ; */
}

.width-400-px{
    width: 400px;
    /* display: block; */
}

header{
    position: sticky;
    top: 0px;
    /* background-color: antiquewhite; */
    /* background-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5); */
    /* background-color: #00ff37; */
    background-color: hsl(189, 60%, 49%);
    /* background-color: hsla(189, 60%, 49%, 0.5); */
    /* opacity: 0.5; */
    text-align: center;
}

li {
    display: inline;
    margin: 10px;
    font-family: monospace;
    /* font-weight: 900; */
}
/* h1{
    font-family: sans-serif;
} */

figcaption {
    font-family: monospace;
    font-size: 20px;
}

body{
    font-family: 'Bangers', cursive;
}